.note-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .note-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms;
  }
  
  .note-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .note-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 500ms;
  }
  